<!doctype html>
<html lang="en">
@Html.Partial("~/Views/Shared/_PartialHeader.cshtml")
<body>
    <div class="wrapper">
@Html.Partial("~/Views/Shared/_PartialAside.cshtml")
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
@Html.Partial("~/Views/Shared/_PartialMenu.cshtml")
            </nav>
            <div class="content">
                
            </div>
@Html.Partial("~/Views/Shared/_PartialFooter.cshtml")
        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script src="~/Tema/assets/js/jquery-3.1.0.min.js" type="text/javascript"></script>
<script src="~/Tema/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Tema/assets/js/material.min.js" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="~/Tema/assets/js/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="~/Tema/assets/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<!-- Material Dashboard javascript methods -->
<script src="~/Tema/assets/js/material-dashboard.js"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="~/Tema/assets/js/demo.js"></script>
<script type="text/javascript">
    	$(document).ready(function(){

			// Javascript method's body can be found in assets/js/demos.js
        	demo.initDashboardPageCharts();

    	});
</script>
</html>










@*<!DOCTYPE html>
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Mi aplicación ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("su logotipo aquí", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET MVC</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>*@
